In [9]:
import numpy as np
import pandas as pd
from pydataset import data

Create a pandas dataframe, df_iris

In [10]:
df_iris = data('iris')

print the first 3 rows

In [11]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

print the number of rows and columns (shape)

In [12]:
df_iris.shape

(150, 5)

print the column names

In [13]:
list(df_iris.columns.values)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

print the data type of each column

In [14]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

print the summary statistics for each of the numeric variables

In [15]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

print the first 3 rows

In [17]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [18]:
df_google.shape

(891, 12)

print the column names

In [19]:
list(df_google.columns.values)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

print the data type of each column

In [20]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

print the summary statistics for each of the numeric variables

In [21]:
df_google[['Age','Fare','SibSp','Parch']].describe()

              Age        Fare       SibSp       Parch
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118   32.204208    0.523008    0.381594
std     14.526497   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     20.125000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     38.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

print the unique values for each of your categorical variables

In [22]:
df_google[['Survived','Pclass','Sex','Embarked']].apply(lambda x: x.unique())

Survived            [0, 1]
Pclass           [3, 1, 2]
Sex         [male, female]
Embarked    [S, C, Q, nan]
dtype: object

In [23]:
df_excel = pd.read_excel('train.xlsx')

assign the first 100 rows to a new dataframe, df_excel_sample

In [24]:
df_excel_sample = df_excel.head(100)

print the number of rows of your original dataframe

In [25]:
df_excel.shape[0]

891

print the first 5 column names

In [26]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

print the column names that have a data type of object

In [27]:
list(df_excel.select_dtypes('object').columns)

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

compute the range for each of the numeric variables.

In [28]:
df_excel.select_dtypes(['int64','float64']).apply(lambda x: x.max() - x.min(),axis=0)

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

# Prepare the data

In [29]:
from acquire import get_iris_data
from prepare import prep_iris
iris_df = get_iris_data()
iris_df = prep_iris(iris_df)
iris_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

In [30]:
from acquire import get_titanic_data
from prepare import prep_titanic
titanic_df = get_titanic_data()
titanic_df = prep_titanic(titanic_df)

In [35]:
from sklearn.model_selection import train_test_split
def tvt_split(df:pd.DataFrame,stratify):
    train, test = train_test_split(df,test_size=.2,random_state=123,stratify=df[stratify])
    train, validate = train_test_split(train,test_size=.3,random_state=123,stratify=train[stratify])
    return train,validate,test

In [36]:
iris_train,iris_validate,iris_test = tvt_split(iris_df,'species')

ValueError: Found input variables with inconsistent numbers of samples: [120, 150]

## Exercises

### Part 1

Continue in your `classification_exercises.ipynb` notebook. As always, add, commit, and push your changes.

**Section 1 - iris_db:** Using iris data from our mySQL server and the methods used in the lesson above: 

1. Acquire, prepare & split your data. 

1. Univariate Stats

    - For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()). 

    - For each species (categorical variable): create a frequency table and a bar plot of those frequencies. 

    - Document takeaways & any actions. 


2. Bivariate Stats

    - Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis). 

    - For each measurement type, compute the descriptive statistics for each species. 

    - For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types. 

    - Document takeaways & any actions. 


3. Multivariate Stats

    - Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species. 
    
    - Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

    - Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

    - Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance). 

    - Document takeaways and any actions.