In [ ]:
import numpy as np
import pandas as pd
from pydataset import data

Create a pandas dataframe, df_iris

In [ ]:
df_iris = data('iris')

print the first 3 rows

In [ ]:
df_iris.head(3)

print the number of rows and columns (shape)

In [ ]:
df_iris.shape

print the column names

In [ ]:
list(df_iris.columns.values)

print the data type of each column

In [ ]:
df_iris.dtypes

print the summary statistics for each of the numeric variables

In [ ]:
df_iris.describe()

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

print the first 3 rows

In [ ]:
df_google.head(3)

print the number of rows and columns

In [ ]:
df_google.shape

print the column names

In [ ]:
list(df_google.columns.values)

print the data type of each column

In [ ]:
df_google.dtypes

print the summary statistics for each of the numeric variables

In [ ]:
df_google[['Age','Fare','SibSp','Parch']].describe()

print the unique values for each of your categorical variables

In [ ]:
df_google[['Survived','Pclass','Sex','Embarked']].apply(lambda x: x.unique())

In [ ]:
df_excel = pd.read_excel('train.xlsx')

assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

print the number of rows of your original dataframe

In [ ]:
df_excel.shape[0]

print the first 5 column names

In [ ]:
df_excel.columns[:5]

print the column names that have a data type of object

In [ ]:
list(df_excel.select_dtypes('object').columns)

compute the range for each of the numeric variables.

In [ ]:
df_excel.select_dtypes(['int64','float64']).apply(lambda x: x.max() - x.min(),axis=0)

# Prepare the data

In [ ]:
from acquire import get_iris_data
from prepare import prep_iris
iris_df = get_iris_data()
iris_train,iris_test,iris_split = prep_iris(iris_df)
iris_df.head()

In [ ]:
from acquire import get_titanic_data
from prepare import prep_titanic
titanic_df = get_titanic_data()
titanic_train, titanic_validate, titanic_test = prep_titanic(titanic_df)

In [11]:
import numpy as np
import pandas as pd
from pydataset import data

In [14]:
from acquire import get_telco_data
from prepare import prep_telco
telco_df = get_telco_data()
# telco_df = prep_telco(telco_df)
telco_df.head().transpose()

,0,1,2,3,4
payment_type_id,2,2,1,1,2
internet_service_type_id,1,1,2,2,2
contract_type_id,2,1,1,1,1
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check

## Exercises

### Part 1

Continue in your `classification_exercises.ipynb` notebook. As always, add, commit, and push your changes.

**Section 1 - iris_db:** Using iris data from our mySQL server and the methods used in the lesson above: 

1. Acquire, prepare & split your data.

1. Univariate Stats

    - For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [ ]:
iris_quantitative = iris_train[['sepal_length','sepal_width','petal_length','petal_width']]
plt.figure(figsize=(12,4))
plt.subplot(121)
sns.boxplot(data=iris_quantitative,x='sepal_length')
plt.subplot(122)
sns.histplot(data=iris_quantitative,x='sepal_length')

## Takeaways
- sepal-length is relatively normally distributed with no outliers

In [ ]:
plt.figure(figsize=(12,4))
plt.subplot(121)
sns.boxplot(data=iris_quantitative,x='sepal_width')
plt.subplot(122)
sns.histplot(data=iris_quantitative,x='sepal_width')

In [ ]:
plt.figure(figsize=(12,4))
plt.subplot(121)
sns.boxplot(data=iris_quantitative,x='petal_width')
plt.subplot(122)
sns.histplot(data=iris_quantitative,x='petal_width')

In [ ]:
plt.figure(figsize=(12,4))
plt.subplot(121)
sns.boxplot(data=iris_quantitative,x='petal_length')
plt.subplot(122)
sns.histplot(data=iris_quantitative,x='petal_length')

In [ ]:
iris_train.describe()


    - For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

In [ ]:
iris_train.species.value_counts()

In [ ]:
species_vc = iris_train.species.value_counts()
sns.barplot(x=species_vc.index,y=species_vc.values)



2. Bivariate Stats

    - Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

In [ ]:
plt.figure(figsize=(12,12))
plt.subplot(221)
graph = sns.barplot(data=iris_train, x='species',y='sepal_length')
graph.axhline(iris_train.sepal_length.mean())
plt.subplot(222)
graph = sns.barplot(data=iris_train, x='species',y='sepal_width')
graph.axhline(iris_train.sepal_width.mean())
plt.subplot(223)
graph = sns.barplot(data=iris_train, x='species',y='petal_length')
graph.axhline(iris_train.petal_length.mean())
plt.subplot(224)
graph = sns.barplot(data=iris_train, x='species',y='petal_width')
graph.axhline(iris_train.petal_width.mean())

    - For each measurement type, compute the descriptive statistics for each species.

In [ ]:
versicolor = iris_train[iris_train.species_versicolor==1]
virginica = iris_train[iris_train.species_virginica==1][['sepal_length','sepal_width','petal_length','petal_width']]
setosa = iris_train[iris_train.species_setosa==1][['sepal_length','sepal_width','petal_length','petal_width']]
indices = pd.MultiIndex.from_product([['versicolor','virginica','setosa'],['sepal_length','sepal_width','petal_length','petal_width']])
concat_frames = pd.concat([versicolor,virginica,setosa],axis=1)
concat_frames.columns = indices
concat_frames.describe()

    - For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

In [ ]:
from scipy.stats import mannwhitneyu
t,p = mannwhitneyu(virginica.sepal_length,versicolor.sepal_length)
t,p

In [ ]:
from scipy.stats import mannwhitneyu
t,p = mannwhitneyu(virginica.sepal_width,versicolor.sepal_width)
t,p

In [ ]:
from scipy.stats import mannwhitneyu
t,p = mannwhitneyu(virginica.petal_width,versicolor.petal_width)
t,p

In [ ]:
from scipy.stats import mannwhitneyu
t,p = mannwhitneyu(virginica.petal_length,versicolor.petal_length)
t,p

    - Document takeaways & any actions. 
Sepal is not a good predictive value for species

3. Multivariate Stats

    - Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

In [ ]:
sns.pairplot(data=iris_train[['species','sepal_length','sepal_width','petal_length','petal_width']],hue='species',corner=True)

    - Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

In [ ]:
sns.relplot(data=iris_train,x='petal_length',y='petal_width',hue='species')

    - Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

In [ ]:
plt.figure(figsize=(8,8))
iris_melt = iris_train[['species','sepal_length','sepal_width','petal_length','petal_width']].melt(id_vars='species')
iris_melt.head()
sns.swarmplot(data=iris_melt,x='variable',y='value',hue='species')

    - Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

## is petal area for versicolor significantly different from virginica?

In [ ]:
iris_train['petal_area'] = iris_train.petal_length * iris_train.petal_width
iris_train.head()


    - Document takeaways and any actions.