In [3]:
import pandas as pd
import numpy as np
from env import get_db_url

In [46]:
query = '''SELECT * FROM attendance'''
url = get_db_url('tidy_data')
attendance_df = pd.read_sql(query,url)
attendance_df = attendance_df.rename(columns={attendance_df.columns[0]:'Student'}).transpose()
attendance_df.columns = attendance_df.iloc[0]
attendance_df = attendance_df.drop('Student',axis=0)
def get_attendance(x):
    if x == 'P':
        return 1
    elif x == 'T':
        return .9
    elif x == 'H':
        return .5
    else:
        return 0
attendance_df = attendance_df.applymap(get_attendance)
attendance_df.sum(axis='index') / attendance_df.shape[0]

Student
Sally    0.7625
Jane     0.6875
Billy    0.5250
John     0.9125
dtype: float64

In [52]:
coffee_df = pd.read_sql('SELECT * FROM coffee_levels',url)
coffee_df = coffee_df.pivot_table(index='hour',columns='coffee_carafe',values='coffee_amount')
coffee_df

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

This is probably the best shape for this

In [64]:
cakes = pd.read_sql('SELECT * FROM cake_recipes',url)
cakes = cakes.rename(columns={'recipe:position':'recipe_position'})
cakes_cols = cakes.recipe_position.str.split(':',expand=True)
# cakes = pd.concat(cakes_cols,cakes)
# cakes.head()